Task 1: Creating DataFrames and Saving as CSV Files

In [2]:
import pandas as pd

# Employee Data
employee_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005"],
    "Name": ["John Alter", "Alice Luxumberg", "Tom Sabestine", "Nina Adgra", "Amy Johny"],
    "Gender": ["M", "F", "M", "F", "F"],
    "City": ["Paris", "London", "Berlin", "Newyork", "Madrid"],
    "Age": [25, 27, 29, 31, 30]
}
employee_df = pd.DataFrame(employee_data)
employee_df.to_csv('Employee.csv', index=False)

# Seniority Level Data
seniority_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005"],
    "Designation Level": [2, 2, 3, 2, 3]
}
seniority_df = pd.DataFrame(seniority_data)
seniority_df.to_csv('Seniority.csv', index=False)

# Project Data
project_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005", "A002", "A005", "A003", "A001", "A003", "A001", "A004", "A004", "A005"],
    "Project": ["Project 1", "Project 2", "Project 3", "Project 4", "Project 5", "Project 6", "Project 7", 
                "Project 8", "Project 9", "Project 10", "Project 11", "Project 12", "Project 13", "Project 14"],
    "Cost": [1002000, 2000000, 4500000, 5500000, None, 680000, 400000, 350000, None, 300000, 2000000, 
             1000000, 3000000, 200000],
    "Status": ["Finished", "Ongoing", "Finished", "Ongoing", "Finished", "Failed", "Finished", "Failed", 
               "Ongoing", "Finished", "Failed", "Ongoing", "Finished", "Finished"]
}
project_df = pd.DataFrame(project_data)
project_df.to_csv('Project.csv', index=False)

import pandas as pd

# Load the Employee, Seniority, and Project data
employee_df = pd.read_csv('Employee.csv')
seniority_df = pd.read_csv('Seniority.csv')
project_df = pd.read_csv('Project.csv')

# Display the initial data
print("Employee DataFrame:")
print(employee_df)
print("\nSeniority DataFrame:")
print(seniority_df)
print("\nProject DataFrame:")
print(project_df)

Employee DataFrame:
     ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxumberg      F   London   27
2  A003    Tom Sabestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30

Seniority DataFrame:
     ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3

Project DataFrame:
      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5        NaN  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9        NaN   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

Task 2: Handling Missing Values in the 'Cost' Column

In [3]:
# Initialize running sum and count for calculating running average
running_sum = 0
count = 0

# Fill missing values in 'Cost' column using a running average
for i in range(len(project_df)):
    if pd.notnull(project_df.loc[i, 'Cost']):
        # If not NaN, add to running sum and increment count
        running_sum += project_df.loc[i, 'Cost']
        count += 1
    else:
        # If NaN, replace with the current running average
        if count > 0:
            project_df.loc[i, 'Cost'] = running_sum / count

# Display the updated Project DataFrame
print("\nUpdated Project DataFrame with Filled Cost:")
print(project_df)

Updated Project DataFrame with Filled Cost:
      ID     Project          Cost    Status
0   A001   Project 1  1.002000e+06  Finished
1   A002   Project 2  2.000000e+06   Ongoing
2   A003   Project 3  4.500000e+06  Finished
3   A004   Project 4  5.500000e+06   Ongoing
4   A005   Project 5  3.250500e+06  Finished
5   A002   Project 6  6.800000e+05    Failed
6   A005   Project 7  4.000000e+05  Finished
7   A003   Project 8  3.500000e+05    Failed
8   A001   Project 9  2.061714e+06   Ongoing
9   A003  Project 10  3.000000e+05  Finished
10  A001  Project 11  2.000000e+06    Failed
11  A004  Project 12  1.000000e+06   Ongoing
12  A004  Project 13  3.000000e+06  Finished
13  A005  Project 14  2.000000e+05  Finished

Task 3: Splitting the 'Name' Column

In [13]:
# Step 1: Check the data types of the columns, especially the 'Name' column
print("Data Types of Employee DataFrame:\n", employee_df.dtypes)

# Step 2: Convert the 'Name' column to strings explicitly, handling non-string values
employee_df['Name'] = employee_df['Name'].apply(lambda x: str(x) if not pd.isnull(x) else '')

# Verify the contents after conversion
print("\nContents of 'Name' column after conversion to strings:\n", employee_df['Name'])

# Step 3: Now split 'Name' into 'First Name' and 'Last Name'
try:
    employee_df[['First Name', 'Last Name']] = employee_df['Name'].str.split(' ', 1, expand=True)
    # Drop the old 'Name' column
    employee_df.drop(columns=['Name'], inplace=True)
    print("\nUpdated Employee DataFrame with Split Names:")
    print(employee_df)
except Exception as e:
    print("Error during split operation:", e)

Data Types of Employee DataFrame:
 ID        object
Name      object
Gender    object
City      object
Age        int64
dtype: object

Contents of 'Name' column after conversion to strings:
 0         John Alter
1    Alice Luxumberg
2      Tom Sabestine
3         Nina Adgra
4          Amy Johny
Name: Name, dtype: object
Error during split operation: StringMethods.split() takes from 1 to 2 positional arguments but 3 positional arguments (and 1 keyword-only argument) were given

In [ ]:
Task 4: Joining All DataFrames

In [7]:
# Merge employee and seniority data on 'ID'
final_df = pd.merge(employee_df, seniority_df, on='ID')
# Merge result with project data on 'ID'
final_df = pd.merge(final_df, project_df, on='ID')

# Display the Final DataFrame
print("\nFinal DataFrame after Joining:")
print(final_df)

Final DataFrame after Joining:
      ID             Name Gender     City  Age  Designation Level     Project  \
0   A001       John Alter      M    Paris   25                  2   Project 1
1   A001       John Alter      M    Paris   25                  2   Project 9
2   A001       John Alter      M    Paris   25                  2  Project 11
3   A002  Alice Luxumberg      F   London   27                  2   Project 2
4   A002  Alice Luxumberg      F   London   27                  2   Project 6
5   A003    Tom Sabestine      M   Berlin   29                  3   Project 3
6   A003    Tom Sabestine      M   Berlin   29                  3   Project 8
7   A003    Tom Sabestine      M   Berlin   29                  3  Project 10
8   A004       Nina Adgra      F  Newyork   31                  2   Project 4
9   A004       Nina Adgra      F  Newyork   31                  2  Project 12
10  A004       Nina Adgra      F  Newyork   31                  2  Project 13
11  A005        Amy Johny      F   Madrid   30                  3   Project 5
12  A005        Amy Johny      F   Madrid   30                  3   Project 7
13  A005        Amy Johny      F   Madrid   30                  3  Project 14

            Cost    Status
0   1.002000e+06  Finished
1   2.061714e+06   Ongoing
2   2.000000e+06    Failed
3   2.000000e+06   Ongoing
4   6.800000e+05    Failed
5   4.500000e+06  Finished
6   3.500000e+05    Failed
7   3.000000e+05  Finished
8   5.500000e+06   Ongoing
9   1.000000e+06   Ongoing
10  3.000000e+06  Finished
11  3.250500e+06  Finished
12  4.000000e+05  Finished
13  2.000000e+05  Finished

Task 5: Adding a Bonus Column

In [8]:
# Add 'Bonus' column with 5% of project cost for finished projects
final_df['Bonus'] = final_df.apply(lambda row: row['Cost'] * 0.05 if row['Status'] == 'Finished' else 0, axis=1)

# Display the Final DataFrame with Bonus
print("\nFinal DataFrame with Bonus Column:")
print(final_df)

Final DataFrame with Bonus Column:
      ID             Name Gender     City  Age  Designation Level     Project  \
0   A001       John Alter      M    Paris   25                  2   Project 1
1   A001       John Alter      M    Paris   25                  2   Project 9
2   A001       John Alter      M    Paris   25                  2  Project 11
3   A002  Alice Luxumberg      F   London   27                  2   Project 2
4   A002  Alice Luxumberg      F   London   27                  2   Project 6
5   A003    Tom Sabestine      M   Berlin   29                  3   Project 3
6   A003    Tom Sabestine      M   Berlin   29                  3   Project 8
7   A003    Tom Sabestine      M   Berlin   29                  3  Project 10
8   A004       Nina Adgra      F  Newyork   31                  2   Project 4
9   A004       Nina Adgra      F  Newyork   31                  2  Project 12
10  A004       Nina Adgra      F  Newyork   31                  2  Project 13
11  A005        Amy Johny      F   Madrid   30                  3   Project 5
12  A005        Amy Johny      F   Madrid   30                  3   Project 7
13  A005        Amy Johny      F   Madrid   30                  3  Project 14

            Cost    Status     Bonus
0   1.002000e+06  Finished   50100.0
1   2.061714e+06   Ongoing       0.0
2   2.000000e+06    Failed       0.0
3   2.000000e+06   Ongoing       0.0
4   6.800000e+05    Failed       0.0
5   4.500000e+06  Finished  225000.0
6   3.500000e+05    Failed       0.0
7   3.000000e+05  Finished   15000.0
8   5.500000e+06   Ongoing       0.0
9   1.000000e+06   Ongoing       0.0
10  3.000000e+06  Finished  150000.0
11  3.250500e+06  Finished  162525.0
12  4.000000e+05  Finished   20000.0
13  2.000000e+05  Finished   10000.0

Task 6: Demoting and Removing Records

In [9]:
# Demote designation by 1 level for failed projects
final_df.loc[final_df['Status'] == 'Failed', 'Designation Level'] -= 1

# Remove rows where 'Designation Level' exceeds 4
final_df = final_df[final_df['Designation Level'] <= 4]

# Display the Final DataFrame after Demotion and Deletion
print("\nFinal DataFrame after Demotion and Deletion:")
print(final_df)

Final DataFrame after Demotion and Deletion:
      ID             Name Gender     City  Age  Designation Level     Project  \
0   A001       John Alter      M    Paris   25                  2   Project 1
1   A001       John Alter      M    Paris   25                  2   Project 9
2   A001       John Alter      M    Paris   25                  1  Project 11
3   A002  Alice Luxumberg      F   London   27                  2   Project 2
4   A002  Alice Luxumberg      F   London   27                  1   Project 6
5   A003    Tom Sabestine      M   Berlin   29                  3   Project 3
6   A003    Tom Sabestine      M   Berlin   29                  2   Project 8
7   A003    Tom Sabestine      M   Berlin   29                  3  Project 10
8   A004       Nina Adgra      F  Newyork   31                  2   Project 4
9   A004       Nina Adgra      F  Newyork   31                  2  Project 12
10  A004       Nina Adgra      F  Newyork   31                  2  Project 13
11  A005        Amy Johny      F   Madrid   30                  3   Project 5
12  A005        Amy Johny      F   Madrid   30                  3   Project 7
13  A005        Amy Johny      F   Madrid   30                  3  Project 14

            Cost    Status     Bonus
0   1.002000e+06  Finished   50100.0
1   2.061714e+06   Ongoing       0.0
2   2.000000e+06    Failed       0.0
3   2.000000e+06   Ongoing       0.0
4   6.800000e+05    Failed       0.0
5   4.500000e+06  Finished  225000.0
6   3.500000e+05    Failed       0.0
7   3.000000e+05  Finished   15000.0
8   5.500000e+06   Ongoing       0.0
9   1.000000e+06   Ongoing       0.0
10  3.000000e+06  Finished  150000.0
11  3.250500e+06  Finished  162525.0
12  4.000000e+05  Finished   20000.0
13  2.000000e+05  Finished   10000.0

Task 7: Adding Titles and Dropping Gender

In [ ]:
# Add 'Mr.' or 'Mrs.' based on gender in 'First Name'
final_df['First Name'] = final_df.apply(lambda row: ('Mr. ' if row['Gender'] == 'M' else 'Mrs. ') + row['First Name'], axis=1)

# Drop the 'Gender' column
final_df.drop(columns=['Gender'], inplace=True)

# Display the Final DataFrame after Adding Titles
print("\nFinal DataFrame with Titles Added and Gender Dropped:")
print(final_df)

Task 8: Promoting Based on Age

In [11]:
# Increase 'Designation Level' by 1 for employees with age > 29
final_df.loc[final_df['Age'] > 29, 'Designation Level'] += 1

# Display the Final DataFrame after Promotion
print("\nFinal DataFrame after Promotion for Age > 29:")
print(final_df)

Final DataFrame after Promotion for Age > 29:
      ID             Name Gender     City  Age  Designation Level     Project  \
0   A001       John Alter      M    Paris   25                  2   Project 1
1   A001       John Alter      M    Paris   25                  2   Project 9
2   A001       John Alter      M    Paris   25                  1  Project 11
3   A002  Alice Luxumberg      F   London   27                  2   Project 2
4   A002  Alice Luxumberg      F   London   27                  1   Project 6
5   A003    Tom Sabestine      M   Berlin   29                  3   Project 3
6   A003    Tom Sabestine      M   Berlin   29                  2   Project 8
7   A003    Tom Sabestine      M   Berlin   29                  3  Project 10
8   A004       Nina Adgra      F  Newyork   31                  3   Project 4
9   A004       Nina Adgra      F  Newyork   31                  3  Project 12
10  A004       Nina Adgra      F  Newyork   31                  3  Project 13
11  A005        Amy Johny      F   Madrid   30                  4   Project 5
12  A005        Amy Johny      F   Madrid   30                  4   Project 7
13  A005        Amy Johny      F   Madrid   30                  4  Project 14

            Cost    Status     Bonus
0   1.002000e+06  Finished   50100.0
1   2.061714e+06   Ongoing       0.0
2   2.000000e+06    Failed       0.0
3   2.000000e+06   Ongoing       0.0
4   6.800000e+05    Failed       0.0
5   4.500000e+06  Finished  225000.0
6   3.500000e+05    Failed       0.0
7   3.000000e+05  Finished   15000.0
8   5.500000e+06   Ongoing       0.0
9   1.000000e+06   Ongoing       0.0
10  3.000000e+06  Finished  150000.0
11  3.250500e+06  Finished  162525.0
12  4.000000e+05  Finished   20000.0
13  2.000000e+05  Finished   10000.0

Task 9: Calculating Total Project Cost

In [ ]:
# Group by 'ID' and 'First Name' to sum up the 'Cost' column
total_proj_cost = final_df.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()

# Rename columns for clarity
total_proj_cost.columns = ['ID', 'First Name', 'Total Cost']

# Save as new DataFrame "TotalProjCost"
total_proj_cost.to_csv('TotalProjCost.csv', index=False)

# Display Total Project Cost DataFrame
print("\nTotal Project Cost DataFrame:")
print(total_proj_cost)

Task 10: Filtering by City

In [ ]:
# Filter final_df for rows where 'City' contains the letter "o"
employees_in_o_cities = final_df[final_df['City'].str.contains('o', case=False)]

# Display the filtered DataFrame
print("\nEmployees in Cities Containing 'o':")
print(employees_in_o_cities)